<!--
  Generated template for the SurveyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Survey</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >

	<ion-slides pager>

	  <!-- Silde Pertama -->
	  <ion-slide *ngFor="let question of field.question_lists; let q=index">
	  	<ion-card>
	  		<img src="assets/img/ahass1.jpg">
		  	<ion-card-content>
		      	<h2>{{ question.name }}</h2>
		  	</ion-card-content>
		</ion-card>
	  	

		<h6>Apakah aspek ini penting?</h6>
		<ion-grid>
			<ion-row>
				<ion-col *ngFor="let importance of importances; let i = index"><ion-img src="{{importance.img}}" style="width:50px; height:50px;" id="importance{{question.id}}{{importance.id}}" (click)="giveImportance(q,question.id,importance.id,importance.value)"> </ion-img></ion-col>
			</ion-row>

		<h6>Bagaimana kinerja bengkel AHASS HANDAYANI?</h6>
			<ion-row>
				<ion-col *ngFor="let performance of performances; let p = index"><ion-img src="{{performance.img}}" style="width:50px; height:50px;" id="performance{{question.id}}{{performance.id}}" (click)="givePerformance(q,question.id,performance.id,performance.value)"> </ion-img></ion-col>
			</ion-row>	
		</ion-grid>
		  	
		
	  </ion-slide>

	  <ion-slide>
	  	<button ion-button round color="danger" (click)="pushPage('FieldPage')">Apakah ingin menilai bidang lain?</button>
		<button ion-button round color="danger" (click)="finish()">Selesai</button>
	  </ion-slide>
	 
	  	


	


	</ion-slides>

</ion-content>
